.hero {
    height: 100vh;
    background-image: url("./assets/d9zjrjs1kxg81.png");
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
    background-attachment: fixed;
  }